.Navigation {
	background-color: black;
	border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
	font-weight: bold;
	color: lightskyblue;
}

.nav-link {
	color: white;
}

.navbar-brand {
	color: white;
}
