body {
	overflow-x: hidden;
}

.card-title {
	overflow: hidden;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

button {
	margin: 5px;
}

.display-2 {
	font-size: 40px;
}

.addbook {
	color: white;
}

.lead {
	color: white;
}
